header {
  button {
    button {
      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: red;
        }
      }
    }
  }
}

.user-info {
  font-size: 2em;
}